@import url(https://fonts.googleapis.com/css?family=Lato);

@import url(https://fonts.googleapis.com/css?family=Cookie);

@import url(https://fonts.googleapis.com/css?family=Limelight);

body {
	background-color: #000000;
	text-align: center;
}

h1 {
	color: #913C60;
	font-size: 75px;
	font-family: Limelight, sans-serif;
    letter-spacing: 2px;
}


#slogan {
	color: #EEA7B2;
	font-size: 50px;
	font-family: Cookie, sans-serif;
  

}

ul {
	list-style: inside;
	color: #EEA7B2;
	font-family: Lato, sans-serif;
    font-size: 20px;
}

p {
	color: #FFFFFF;
    font-family: Lato, sans-serif;
    font-weight: normal;
    line-height: 180%;
}