@import url(https://fonts.googleapis.com/css?family=Lato);

@import url(https://fonts.googleapis.com/css?family=Cookie);

@import url(https://fonts.googleapis.com/css?family=Limelight);

body {
  background-color: #ffffff;
  text-align: center;
}

header {
  color: #E87CFF;
  font-size: 75px;
  font-family: Limelight, sans-serif;
  letter-spacing: 2px;
  padding: 1%;
  margin: 1%;
  background-color: #000000;
}

#slogan {
  color: #FFFFFF;
  font-size: 50px;
  font-family: Cookie, sans-serif;
  padding: 1%;
  background-color: #000000;
 
}


div {
  width: 100%;
  margin: auto;
}

nav {
  font-size: 25px;
  border: 1px white solid;
  padding: 1%;
  background-color: #E87CFF;
}


aside {
  border: 1px black solid;
  padding: 20px;
  background-color: #000000;
}

article {
  color: #FFFFFF;
    font-family: Lato, sans-serif;
    font-weight: normal;
    line-height: 180%;
    font-size: 30px;
  border: 1px black solid;
  padding: 3%;
  background-color: #000000;
}

section {
  color: #FFFFFF;
    font-family: Lato, sans-serif;
    font-weight: normal;
    line-height: 180%;
    font-size: 20px;
  border: 1px black solid;
  padding: 3%;
  background-color: #000000;
}

ul {
  list-style: inside;
  color: #FFFFFF;
  font-family: Lato, sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
}

#two_column {
  background-color: #000000;
  padding: 1%;
}

#left {
  background-color: #000000;
  border: 4px white solid;
  padding: 1%;
  float: left;
  width: 30%;
}

#right {
  background-color: #000000;
  border: 4px white solid;
  padding: 1%;
  float: right;
  width: 63%;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

footer {
  font-size: 35px;
  border: 1px white solid;
  padding: 1%;
  background-color: #E8A8FF;
}