body {
	background: black;
	text-align: center;
}

h1 {
	color: #C50000;
	font-size: 72px;
	font-family: Impact, sans-serif;
}

#slogan {
	font-style: italic;
	color: #EEA7B2;
	font-size: 35px;
	font-family: Arial, sans-serif;
}

ul {
	text-align: center;
	list-style: none;
	color: #EEA7B2;
	font-family: Arial, sans-serif;

}

p {
	color: white;
	font-weight: bold;
}