dic {
	background-image: url(images/chicago.jpg) 
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


body {
	text-align: center;
}

h1 {
	color: #C50000;
}

#slogan {
	font-style: italic;
	color: #EEA7B2;
	font-size: 24px;
}

ul {
	text-align: center;
	list-style-type: none;
	color: white;
}

p {
	color: white;
	font-weight: bold;
}