body {
	background-color: black;
	text-align: center;
}

h1 {
	color: #913C60;
	font-size: 100px;
	font-family: Impact, sans-serif;
}

#slogan {
	font-style: italic;
	color: #EEA7B2;
	font-size: 32px;
	font-family: Helvetica, sans-serif;
}

ul {
	list-style: inside;
	color: #EEA7B2;
	font-family: Arial, sans-serif;
    font-size: 26px;
}

p {
	color: white;
	font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 24px;
}